.ymd-form {
    &-group {
        display: flex;
        flex-direction: column;
        .label-area {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 4px;
            label {
                font-size: 14px;
            }
        }
    }
    &-control {
        width: 100%;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.5;
        padding: 8px 12px;
        border-radius: $radius;
        color: map-get($colors, body, contrast);
        background: transparent;
        border: 1px solid map-get($colors, body, light);
        &::placeholder {
            font-family: $font-family;
            position: relative;
            left: 0;
            transition: all 350ms ease;
        }
        &:focus {
            &::placeholder {
                left: 5px;
            }
        }
        &.color {
            padding: 0 2px;
            width: 27px;
        }
    }
}

button.password-trigger {
    position: absolute;
    top: 29px;
    right: 20px;
    svg {
        color: map-get($colors, body, contrast);
        width: 18px;
    }
}
