$colors: (
    primary: (
        main: #fd4f00,
        light: #ff8308,
        gradient: linear-gradient(270deg, #fd4f00 0%, #ff8308 100%),
        contrast: #ffffff
    ),
    info: (
        main: #08aeea,
        light: #17cec4,
        gradient: linear-gradient(270deg, #08aeea, #17cec4),
        contrast: #ffffff
    ),
    success: (
        main: #59a822,
        light: #d5e9c7,
        gradient: linear-gradient(270deg, #59a822, #9eda74),
        contrast: #ffffff
    ),
    danger: (
        main: #e20714,
        light: #f7c1c4,
        gradient: linear-gradient(270deg, #e20714, #fa656d),
        contrast: #ffffff
    ),
    purple: (
        main: #870eff,
        light: #efdeff,
        gradient: linear-gradient(270deg, #870eff, #c587ff),
        contrast: #ffffff
    ),
    secondary: (
        main: #9ca1ae,
        light: #e6e7ea,
        gradient: linear-gradient(270deg, #9ca1ae, #d2d2d2),
        contrast: #ffffff
    ),
    body: (
        main: #282828,
        light: #3C3C3C,
        gradient: linear-gradient(270deg, #282828 0%, #3C3C3C 100%),
        contrast: #ffffff
    )
);

$typography: (
    h1: (
        min: 26px,
        preferred: 31px,
        max: 36px
    ),
    h2: (
        min: 24px,
        preferred: 28px,
        max: 32px
    ),
    h3: (
        min: 22px,
        preferred: 25px,
        max: 28px
    ),
    h4: (
        min: 20px,
        preferred: 23px,
        max: 26px
    ),
    h5: (
        min: 18px,
        preferred: 21px,
        max: 24px
    ),
    h6: (
        min: 16px,
        preferred: 17px,
        max: 18px
    ),
    p: (
        min: 14px,
        preferred: 14px,
        max: 14px,
        lead: (
            min: 16px,
            preferred: 16px,
            max: 16px
        ),
        sm: (
            min: 12px,
            preferred: 12px,
            max: 12px
        )
    ),
    span: (
        min: 14px,
        preferred: 14px,
        max: 14px,
        lead: (
            min: 16px,
            preferred: 16px,
            max: 16px
        ),
        sm: (
            min: 12px,
            preferred: 12px,
            max: 12px
        )
    ),
    small: (
        min: 12px,
        preferred: 12px,
        max: 12px
    ),
    sub: (
        min: 12px,
        preferred: 12px,
        max: 12px
    )
);

$breakpoints: (
    mobile: 320,
    tablet: 767,
    desktop: 1023
);

$row-gap: (
    desktop: 15,
    tablet: 10,
    mobile: 8
);

$font-family: Montserrat, sans-serif;
$shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
$radius: 3px;
$columns: 12;