.yd--form-element-outher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 3px;
}
.yd--form-element-outher .yd--custom-label {
  font-size: 85%;
}

.yd-fw {
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
}

.pointer {
  cursor: pointer;
}

.yd--custom-textfield {
  padding: 0 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  gap: 7px;
  text-align: left;
  border: 1px solid #e6e6e6;
  position: relative;
  border-radius: 6px;
  width: inherit;
  height: 32px;
}
.yd--custom-textfield .yd--dropdown-selected-value.placeholder {
  color: #bdbdbd;
}
.yd--input-container {
  position: relative;
}
.yd--input-container .yd--input-abort {
  position: absolute;
  right: 10px;
  top: 8px;
}
.yd--input-container .yd--input-abort svg {
  width: 18px;
  height: 18px;
}
.yd--input-container input[type=password] {
  padding: 0 38px 0 11px;
}

.yd--dropdown-container {
  text-align: left;
  border: 1px solid #e6e6e6;
  position: relative;
  border-radius: 6px;
  cursor: pointer;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.yd--dropdown-container .yd--dropdown-input {
  padding: 7px 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  gap: 7px;
}
.yd--dropdown-container .yd--dropdown-input .yd--dropdown-selected-value.placeholder {
  color: #bdbdbd;
}
.yd--dropdown-container .yd--dropdown-tool {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.yd--dropdown-container .yd--dropdown-tool svg {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.yd--dropdown-container .yd--dropdown-tool svg.translate {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.yd--dropdown-container .yd--dropdown-menu {
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
  padding: 5px;
  position: absolute;
  -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
          transform: translateY(6px);
  border: 1px solid #e6e6e6;
  border-radius: 6px;
  overflow: auto;
  background-color: #fff;
  z-index: 99;
  max-height: 312px;
  min-height: 50px;
}
.yd--dropdown-container .yd--dropdown-menu::-webkit-scrollbar {
  width: 5px;
}
.yd--dropdown-container .yd--dropdown-menu::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.yd--dropdown-container .yd--dropdown-menu::-webkit-scrollbar-thumb {
  background: #888;
}
.yd--dropdown-container .yd--dropdown-menu::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.yd--dropdown-container .yd--dropdown-menu.alignment--left {
  left: 0;
}
.yd--dropdown-container .yd--dropdown-menu.alignment--right {
  right: 0;
}
.yd--dropdown-container .yd--dropdown-item {
  padding: 7px 10px;
  cursor: pointer;
  -webkit-transition: background-color 0.35s ease;
  transition: background-color 0.35s ease;
  border-radius: 6px;
  font-weight: 500;
  color: #000;
}
.yd--dropdown-container .yd--dropdown-item:hover {
  background-color: rgba(189, 189, 189, 0.05);
}
.yd--dropdown-container .yd--dropdown-item.selected {
  background-color: rgba(0, 0, 0, 0.075);
  font-weight: 600;
}
.yd--dropdown-container .yd--search-box {
  padding: 5px;
}
.yd--dropdown-container .yd--search-box input {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 32px;
}
.yd--dropdown-container .yd--search-box input:focus {
  outline: none;
}
.yd--dropdown-container .yd--dropdown-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5px;
}
.yd--dropdown-container .yd--dropdown-tag-item {
  background-color: #000;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  padding: 2px 4px;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.yd--dropdown-container .yd--dropdown-tag-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5px;
}